.song {
  padding-top: 3rem;
padding-bottom: 1.5rem;

  align-content: center;

}

.column {
float: left;
width: 50%;

font-size: 2rem;
padding-bottom: 40px;
  
  margin: 0 auto;

}

.columnbackground {


}



h3 {

font-size: 1.7rem;

}

.togglestyle 
{
font-size: 2rem;
margin: 0 auto;

}


@media screen and (min-width: 600px) {
* {
  box-sizing: border-box;
}


.column {
float: left;
width: 50%;
padding: 10px;
height: 300px;

padding-left: 2rem;
  
  margin: 0 auto;

}

.row:after {
content: "";
display: table;
clear: both;
}

.child {

font-size: 3rem;
padding-bottom: 1rem;
}


}



@media screen and (max-width: 600px) {
.column {
  width: 100%;
}
.column {
float: left;
width: 100%;
padding: 10px;
height: 300px; 
}

.row:after {
content: "";
display: table;
clear: both;
}


.child {

font-size: 2rem;
padding-bottom: .3rem;
text-align: left;


}



}

.row:after {
content: "";
display: table;
clear: both;

padding-bottom: 80px;

}



.container {
  font-family: arial;
  font-size: 2rem;
}

.child {
  width: 100%;
  margin: auto auto;
  align-content: center;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}

.centerimage > img {
   width: 47rem;
   max-width: 100%;
   height: auto;
   width: auto\9; 

  min-width: 60%;
  padding-top: 10rem

}


.centerMessage {
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}




.faketab {
  display: flex;

}

.faketab > div {
  width: 50%;
  color: #4d4d4d;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;

}

.faketableft {
  padding-left: 10rem;
  padding-right: 20px
}

.faketabright {
  padding-right: 10rem;
  padding-left: 20px;
}

.signup_btn, .login_btn {
  font-size: 1.6rem;
  color: white;

  background-color: #7600dd;
  cursor:pointer;
  padding: 1rem;
  border: none;

}


.buttonrow {
   margin-left: 13%;
   margin-right: 13%;


}

.container {
  font-family: arial;
  font-size: 2rem;
}

.child {
  width: 100%;
  margin: auto auto;
  align-content: center;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  z-index: 2; 
}

.centerimage > img {
  width: 48rem;
  max-width: 100%;
  height: auto;
  width: auto\9;
  min-width: 60%;
  padding-top: 10rem;
}

.centerMessage {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 8; 
}

.lottie-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  z-index: -2;
}



.lottie-animation {
  width: 100%;
  max-width: 2000px; 
  height: auto;
}