.record-container {
  position: absolute;
  top: 50%; /* Center vertically */
  right: 50%; /* Center horizontally */
  transform: translate(50%, -50%);
  text-align: center;
}
.record-button {
  position: relative;
  
  width: 25rem;
  height: 25rem;
  
  background-color: #d4a5ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: -168px; 
  margin-left: 38rem;
}

.record-button-inner {
  width: 120px; 
  height: 120px; 
  background-color: #9747ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-button {
  background-color: #d4a5ff;
  padding: 6px 10px; /* Scaled by 250% */
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* font-size: 40px; */ /* Scaled by 250% */ 
  font-size: 2.5rem;
  
  width: 40%;
  margin: auto;
  
  margin-top: 20px;  
  
}

.song {
	/* padding-top: 30px; */
  padding-top: 3rem;
	padding-bottom: 1.5rem;
	
}

.column {
  float: left;
  width: 50%;
  
  font-size: 2rem;
  padding-bottom: 0;
  
}

.columnbackground {
  display: flex;
  align-items: center;
  padding-left: 2rem;

}

/* * {
  box-sizing: border-box;
} */


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

h3 {

  font-size: 1.7rem;

}

.togglestyle 
{
  font-size: 2rem;
  margin: 0 auto;

}


@media screen and (min-width: 600px) {
  * {
    box-sizing: border-box;
  }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */

  padding-left: 2rem;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.child {

  font-size: 3rem;
  padding-bottom: 1rem;

 /* Center horizontally*/
 
}

  
}



@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.child {

  font-size: 2rem;
  padding-bottom: .3rem;
  text-align: left;
 /* Center horizontally*/
 
}



}





/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
  padding-bottom: 80px;
  
}

.filename {
	font-size: 1rem;
	
	padding-top: 1.2rem;
	
}

.filelabel {
	font-size: 1rem;
	
	padding-top: 1.2rem;
	
}


.child {

   font-size: 2rem;
   text-align: left;

  /* Center horizontally*/
  /* margin: 0 auto; */
}


.record-button2 {
  background-image: url("Just-Press-Record-button.png");
  background-color: white;
  background-size: 80%;
  height: 360px;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
}


.RecordButtonNew{
  padding: 0px;
  margin-top: -10px;
}


.ORStyle {
  margin-top: .5rem;
  margin-bottom: 1rem;

padding-left: 8rem;


}

.record_btn {
  border: none;
  cursor:pointer;
  background-color: white;
}

.upload_btn {
  border: none;
  cursor:pointer;
  background-color: white;
}

.AppToolTip {
  font-family: sans-serif;
  text-align: center;

  margin-top: 100px;
  height: 200px;
}


div.RecordButtonNew.record_btn span {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
}

div.RecordButtonNew.record_btn:hover span {
  display: block;
}

.supportmessage {
  font-size: 1rem;
}


.togglestyle,
.toggle-switch-container,
h3 {
  display: none;
}

.smallerimage > img {

  width: 24rem;
  max-width: 100%;
  height: auto;
  width: auto\9;
  min-width: 60%;
  padding-top: 2rem;
}


.center-vertically-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 65rem;
}

.file-input {
  /* Add any desired styles for the input here */
}

.file-input:focus {
  outline: none; /* Remove outline when input is focused */
}

.current-file-name {
  /* Add any desired styles for the current file name display here */
}

.record-button.disabled {
  background-color: rgba(212, 165, 255, 0.5); /* Adjust the alpha (0.5) to control transparency */
  cursor: not-allowed; /* Change the cursor style to indicate it's not clickable */
}
